.show-tile-hover:hover {
  z-index: 10;
  transform: scale(1.03);
  border: 1px solid rgba(0,0,0, 0.5);
  box-shadow: 1px 2px 2px rgba(0,0,0, 0.5);
  transition: transform 0.5s ease;
}
@media(max-width: 630px) {
  .show-image {
    margin: 0 auto;
  }
}
.show-image {
  height: 430px;
}